extends layout

block content
	form(method='post', action='/alumnis/edit/#{alumni._id}', value='#{alumni}')
		.form-group
		label Name
		input.form-control(name='name', type='text', placeholder='Enter Name', value='#{alumni.name}')
		.form-group
		label Email
		input.form-control(name='email', type='email', placeholder='Enter Email', value='#{alumni.email}')
		.form-group
		label Department
		input.form-control(name='department', type='text', placeholder='Enter the department you study', value='#{alumni.department}')
		.form-group
		label Graduate Year
		input.form-control(name='graduate_year', type='text', placeholder='Enter which year you graduated', value='#{alumni.graduate_year}')
		.form-group
		label Phone Number
		input.form-control(name='phone_number', type='text', placeholder='Enter your phone number', value='#{alumni.phone_number}')
		h1
			input(value='#{alumni.content}', name='content')
			input(type='submit', value='Update').btn.btn-primary.btn-lg
			a(href='/alumnis').btn.btn-default.btn-lg Back