extends ../layout

block content
  h1.text-center All Alumni
  form(method='get', action='/alumni/create/alumni')
    .input-group
    span.input-group-btn
      input.btn.btn-success.pull-right(type='submit', value='Add New Alumni')

  form(method='get', action='/alumni/')
    .form-group
    label Department
    input.form-control(name='department', type='text', placeholder='Enter the department you study')
    .form-group
    label Graduate Year
    input.form-control(name='graduate_year', type='text', placeholder='Enter which year you graduated')
    h4
      input(type='submit', value='Search').btn.btn-primary.btn-lg

  if (pages > 1)
    .pagination
      ul
        != createPagination(pages, page)

  for alumni in alumnis
    .panel.panel-default
      .panel-body
        label  #{alumni.name}
        div
          table
            thead
              th(style="width:200px") Email
              th(style="width:100px") Phone
              th(style="width:200px") Department
              th(style="width:100px") Graduate Year
            tbody
              tr
                td #{alumni.email}
                td #{alumni.phone_number}
                td #{alumni.department}
                td #{alumni.graduate_year}
          if (user.isSuperUser)
            form(action='/alumni/destroy/#{alumni._id}', method='post')
              input.btn.btn-danger.pull-right(type='submit', value='Delete')

          if (user.isSuperUser)
            form(action='/alumni/#{alumni._id}', method='get')
              input.btn.btn-success.pull-right(type='submit', value='Edit')
          else
            form(action='/alumni/#{alumni._id}', method='get')
              input.btn.btn-success.pull-right(type='submit', value='View Detail')
